.drug_row{
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    padding:5px;
}
.drug_row img{
    width:20px;
    margin-right:10px;
}
.drug_price{
    float:right;
}

.name{
    background-color: #010000;
    height:90px;
    padding:5px;
}
.h1{
    font-size: 5.5em;
    color:#fff;
    font-family: georgia, serif;
    line-height: 0 !important;
    padding:5px;
    margin-top: -50px;
    margin-left: 65px;
}
.name img{
    margin-right:20px;
}
.footer{
    padding:0 20px;
}
.footer a{
    color:#fff;
}
.footer_brand{
    color:#fff;
    text-align:center;
}
.app_header{
    color: #dddddd;
    padding:3px !important;
}
.hospitals{
    background: #ed2124;
}
.medicine{
    background: #ed2124;
}
.generics{
    background: #ed2124;
}
.doctors{
    background: #ed2124;
}
#grabDetails{
    background: #3d566d;
}
#grabPrices{
    background: #3d566d;
}
#grabGenerics{
    background: #3d566d;
}
#grabHospitals{
    background: #3d566d;
}
.icon-search{
    color:#fff;
}
.footer_section{
    background-color: #010000;
    height:80px;
}
.app_footer{
    text-align: center;
    padding:3px;
    background-color: #333333;
    color:#fff;
}
.app_footer a{
    color:#fff;
}
#get_location_text{
    color:#dddddd;
}
.app_section{
    margin-bottom: 10px;
}
.app_body{
    background-color: #fff;
    padding:5px;
    height:120px;
}
.app_body input[type="text"]{
    margin:0px !important;
}
.app-container h4{
    color: #fff;
    display:inline;
    font-family: georgia,serif;
}
.app-icon{
    margin-right: 10px;
}
.app-container .icon-2x{
    font-size: 1.4em !important;
}
.sidebar h5{
    font-weight:bold;
    font-family: georgia,serif;
    color: #6E6E6E;
    background: #D6E5E3;
    padding: 5px;
}
.feedback p{
    font-size:0.8em !important;
}
.feedback{
    text-align: center;
}
.linksholder{
    text-align: center;
}
.linksholder p{
    margin-bottom: 30px;
}
.featured_title{
    font-weight:bold;
    font-family: georgia,serif;
    color: #fff;
    background: #3d566d;
    padding: 5px;
}
.big-title{
    background-color: #3d566d;
    color: #fff;
    border-bottom: 0;
    padding: 10px;
    font-weight: bold;
    font-family: georgia,serif;
}
.content_body{
    background-color:#fff;
    padding:5px;
}
.story{
    margin-top: -10px;
    padding:10px;
}
.story img{
    float:left;
    margin-right: 10px;
}
.story h4{
    font-family: georgia,serif;
}
.story-metadata{
    font-size: 0.7em;
    color: #818181;
    text-align:right;
}
.embed{
    font-size: 0.8em;
}
.embed img{
    height:15px;
}
.embed a{
    color:#CACFD6;
}
.top-bar{
    margin-bottom: 20px;
}
.app_description{
    min-height:50px;
}
.report_malpractice{
    margin-left: 10px;
}
.help-block{
    margin-top:-10px;
    font-size:0.6em;
    text-align: right;
}
.row {
    min-width: 90% !important;
    margin:auto !important:
}