.app_header{
    color: #dddddd;
    padding:3px !important;
}
.hospitals{
    background: #3d566d;
}
.medicine{
    background: #643B0F;
}
.generics{
    background: #ed2124;
}
.doctors{
    background: #80828f;
}
#grabDetails{
    background: #80828f;
}
#grabPrices{
    background: #ed2124;
}
#grabGenerics{
    background: #ed2124;
}
#grabHospitals{
    background: #3d566d;
}
.icon-search{
    color:#fff;
}
.footer_section{
    background-color: #313131;
}
.app_footer{
    text-align: center;
    padding:3px;
    background-color: #333333;
    color:#fff;
}
.app_footer a{
    color:#fff;
}
#get_location_text{
    color:#dddddd;
}
.app_section{
    margin-bottom: 10px;
}
.app_body{
    background-color: #fff;
    padding:5px;
    height:120px;
}
.app_body input[type="text"]{
    margin:0px !important;
}
.app-container h4{
    color: #fff;
    display:inline;
    font-family: georgia,serif;
}
.app-icon{
    margin-right: 10px;
}
.app-container .icon-2x{
    font-size: 1.4em !important;
}
.sidebar h5{
    font-weight:bold;
    font-family: georgia,serif;
    color:#3d566d;
}
.feedback p{
    font-size:0.8em !important;
}
.feedback{
    text-align: center;
}
.linksholder{
    text-align: center;
}
.linksholder p{
    margin-bottom: 30px;
}
.featured_title{
    font-weight:bold;
    font-family: georgia,serif;
    color:#3d566d;
}
.big-title{
    background-color: #3d566d;
    color: #fff;
    border-bottom: 0;
    padding: 10px;
    font-weight: bold;
    font-family: georgia,serif;
}
.content_body{
    background-color:#fff;
    padding:5px;
}
.story{
    margin-top: -10px;
}
.story img{
    float:left;
    margin-right: 10px;
}
.story h4{
    font-family: georgia,serif;
}
.story-metadata{
    font-size: 0.7em;
    color: #818181;
    text-align:right;
}
.embed{
    font-size: 0.8em;
}
.embed img{
    height:15px;
}
.embed a{
    color:darkgrey;
}
.top-bar{
    margin-bottom: 20px;
}
.app_description{
    min-height:50px;
}
.report_malpractice{
    margin-left: 10px;
}
.help-block{
    margin-top:-10px;
    font-size:0.6em;
    text-align: right;
}
.row {
    min-width: 90% !important;
    margin:auto !important:
}